html {
  background-color: #eee;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'arial';
  box-sizing: border-box;
  text-align:center;
  overflow-x: hidden;
}

*{
	outline: none;
}
.header{
  height: 50px;
  background-color: #4a90e2;
  text-align: left;
  line-height: 50px;
  color: white;
  box-shadow: 0px 5px 10px #bbb;
  z-index: 5;

}
img{
  width:100%;
  height:250px;
  vertical-align: top;
}
#input-number{
	width: 230px;
  height: 50px;
}
.score-container{
  height: 60px;
}
.score{
  margin-top: 10px;
  font-size: 15px;
  color: #aaa;
}
.timer{
  margin-top:20px; 
  height: 5px;
  background-color: #ddd;
  border-radius: 20px;
}
.timer .progress{
	height: 5px;
	background-color: #2766af;
	border-radius: 20px;
}
.functional-container{
  height: 50px;
  margin:20px; 
}
#left-block{
  font-size: 40px;
  color: #2766af;
  display: inline-block;
  width: 60px;   
}
#op-block{
  font-size: 40px;
  color: #2766af;
  display: inline-block;
  width: 60px;   
}
#right-block{
  font-size: 40px;
  color: #2766af;
  display: inline-block;
  width: 60px; 
}
#equal-block{
	float:left;
	width: 10%;
	text-align: center;
	font-size: 50px;
	color: #f57c00; 
	font-weight: bolder; 
}
.input-block{
    height: 200px;
}
.answer-option{
    font-size: 35px;
    margin: 10px;
    height: 35px;
    text-align: center;
    display: inline-block;
    width: 80px;
    padding: 15px;
    font-weight: bolder;
    color: #fff;
    background: #4a90e2;
    border-radius: 10px;
}
.correct-answer{
	background-color: hsl(136, 53%, 43%);
	color: #fff; 

}
.wrong-answer{
	background-color:red;
	color: #fff; 
}
.main-screen{

}
.start-button{
    margin-top:10px; 
    height: 50px;
    width: 90%;
    background-color: #4f79b5;
    border: none;
    color: #fff;
}
.start-button:hover{
  cursor: pointer;
}
.button{
    height: 50px;
    width: 90%;
    background-color: #4a90e2;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    line-height: 25px;
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    text-indent: 20px;
}
.button:hover .label{
  box-shadow: none;
}
.button:hover, .button:hover *{
    cursor: pointer;
    background-color: #add3ff;    
}
.button:active{
    cursor: pointer;
    background-color: #6cadf9;
    color: white;
}
.content-title{
  padding-bottom:0px; 
  background-color: #eee;
  border-left: 5px solid;
}
.statistics{
  height: 50px;
  margin-top: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 10px;
  border-bottom:.5px solid  #ddd; 
}
.statistics-div{
  border-bottom: 1px solid #bbb; 
  text-indent: 10px;
}
.statistics-span{
  display: inline-block;
  width: 100%;
  text-align: left;
}
.date{
  color: #aaa;
}
.red-border{
    border-left: 5px solid #ff6679;
}
.green-border{
    border-left: 5px solid #50d2c2;
}
.blue-border{
    border-left: 5px solid #4a90e2;
}
.orange-border{
    border-left: 5px solid #fcab53;
}
.gray-border{
  border-left: 5px solid #aaa;
  height: 40px;
  text-align: left;
  padding-top: 15px;
}
.icon-blue{
  color: #2582ef;
}
.icon-red{
  color: #ff6679;
}
.icon-green{
  color:  #2bb3a2;
}
.span{
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.back-button{
  margin-left: 10px;
  margin-top: 9px;
}
.back-button:hover{
  cursor: pointer;
}
.home-button{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.home-button:hover{
  cursor: pointer;
}
.total-questions{
  float: right;
  margin-right: 17px;
  font-size: 15px;
  color: #aaa;
}
.label{
    margin-right: 5px;
    float: right;
    font-size: 15px;
    color: #fff;
    background: #3068ab;
    padding-right: 5px;
    border-radius: 2px;
    box-shadow: inset 0px 2px 2px 2px #1a5190;;
}
